ci:
    autofix_commit_msg: "style(pre-commit): autofix"
    autoupdate_commit_msg: "ci(pre-commit): autoupdate"

repos:
    - repo: https://github.com/Lucas-C/pre-commit-hooks
      rev: v1.5.5
      hooks:
          - id: forbid-crlf
          - id: remove-crlf
          - id: forbid-tabs
          - id: remove-tabs

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
            args: [--markdown-linebreak-ext=md]
          - id: check-merge-conflict
          - id: end-of-file-fixer
          - id: mixed-line-ending
          - id: check-added-large-files
          - id: check-case-conflict
          - id: check-json
          - id: check-yaml
            args: [--unsafe, --allow-multiple-documents]
          - id: check-symlinks
          - id: detect-private-key

    - repo: https://github.com/adrienverge/yamllint
      rev: v1.37.1
      hooks:
          - id: yamllint
            files: \.(yaml|yml)$
            types: [file, yaml]
            entry: yamllint --strict
            exclude: .*.param.yaml

    - repo: https://github.com/igorshubovych/markdownlint-cli
      rev: v0.45.0
      hooks:
          - id: markdownlint
            args: [-c, .markdownlint.yaml, --fix]

    - repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
          - id: detect-secrets
            args: [--baseline, .secrets.baseline]
            exclude: .*/tests/.*

    - repo: https://github.com/pycqa/flake8
      rev: 7.3.0
      hooks:
          - id: flake8
            args:
                # these are errors that will be ignored by flake8
                # check out their meaning here
                # https://flake8.pycqa.org/en/latest/user/error-codes.html
                - --ignore=E501,F401
            exclude: ^testing/(data|examples)/

exclude: .svg
