mkdocs
# mkdocs-api-autonav
mkdocs-material
mkdocs-material-extensions
mkdocstrings-python
# mkdocs-gen-files
# mkdocs-awesome-nav
mkdocs-glightbox
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
regex
ruff
pydantic
pre-commit
Jinja2
git+https://github.com/CCI-MOC/nerc-rates@main#egg=nerc_rates
