{% extends "base.html" %}

{% block htmltitle %}
  <title>New England Research Cloud(NERC)</title>
{% endblock %}

{% block footer %}
  <footer class="md-footer">
    <aside class="footer-left">
        <a href="http://www.bu.edu/tech/services/research/" title="Boston University" target="_blank">
          <img alt="Boston University Logo" src="https://nerc-project.github.io/nerc-docs/assets/images/boston-university-logo.png"/>
        </a>

    </aside>

    <aside class="footer-right">
        <a href="https://www.mghpcc.org/" title="MGHPCC" target="_blank">
          <img alt="MGHPCC Logo" src="https://nerc-project.github.io/nerc-docs/assets/images/MGHPCC_logo.png"/>
        </a>
    </aside>

    <aside class="footer-center">
        <a href="http://rc.fas.harvard.edu" title="Harvard University" target="_blank">
          <img alt="Harvard University Logo" src="https://nerc-project.github.io/nerc-docs/assets/images/harvard-university_logo.png"/>
        </a>
    </aside>
  </footer>
{% endblock %}
