/* Set the background color of the body */
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
  background: #dbe8faed; /* Light blue background */
}

/* Style for each snowflake */
.snowflake {
  position: absolute;
  top: -10px; /* Start slightly above the screen */
  animation: fall linear infinite; /* Define the falling animation */
}

/* Falling animation */
@keyframes fall {
  to {
    transform: translateY(100vh); /* Move snowflakes from top to bottom */
  }
}