name: Run pre-commit checks

on:
    push:
    pull_request:

jobs:
    run-linters:
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v4

            - name: Setup Python
              uses: actions/setup-python@v5
              with:
          python-version: ^3.10

            - name: Configure caching
              uses: actions/cache@v4
              with:
          path: ~/.cache/pre-commit
          key: precommit-${{ runner.os }}-${{ hashFiles('.pre-commit-config.yaml') }}

            - name: Install requirements
              run: |
          pip install -r test-requirements.txt

            - name: Run linters
              run: |
          pre-commit run --all-files
